* {
body {
  /*background-color: steelblue;*/
  margin: 0;
}

main {
  margin: 10px;
}
h1 {
  /*color: white;           was white*/
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 55px;
  font-family:georgia;

}

/*p {
  color: white;
}*/

.byline{
  text-align: center;
}
.navbar{
  background-color: #505050;
  display: flex;
}
.navbar a{
  color:white;
  text-decoration: none;
  padding: 10px 15px;
  text-align: center;

}

.navbar a:hover{
  background-color: black;
}
aside{
  width: 20%;
  float: right;
}

.card-row {
  display: flex;
  gap: .5em;
  flex-wrap: wrap;
}

.peg-row{
  display: flex;
  gap: .75em;
  flex-wrap: wrap;
}
.p-row{
  display: flex;
  gap: .5em;
  flex-wrap: wrap;
}
.c-row{
  display: flex;
  gap: .5em;
  flex-wrap: wrap;
}
th,
td {
border: 1px solid rgb(160 160 160);
padding: 8px 10px;
}

th[scope="col"] {
background-color: #505050;
color: white;
}

th[scope="row"] {
background-color: white
}

td {
text-align: center;
}

tr:nth-of-type(even) {
background-color: white;
}

table {
border-collapse: collapse;
border: 2px solid rgb(140 140 140);
font-size: 0.8rem;
letter-spacing: 1px;
}

caption {
caption-side: bottom;
padding: 10px;
}

footer{
  margin: 10px;
}
}