* {
/*body {
  background-color: steelblue;
}

h1 {
  color: white; /*was white
  text-align: center;
  font-size: 65px;
  font-family:georgia;

}

p {
  color: white;
}*/

.card-row {
  display: flex;
  gap: .5em;
  flex-wrap: wrap;
}

th,
td {
border: 1px solid rgb(160 160 160);
padding: 8px 10px;
}

th[scope="col"] {
background-color: #505050;
color: white;
}

th[scope="row"] {
background-color: white
}

td {
text-align: center;
}

tr:nth-of-type(even) {
background-color: white;
}

table {
border-collapse: collapse;
border: 2px solid rgb(140 140 140);
font-size: 0.8rem;
letter-spacing: 1px;
}

caption {
caption-side: bottom;
padding: 10px;
}
}