<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="style.css"> -->
    <title>Costly Colours</title>
  </head>
  <body>
    <header>
        <h1>Costly Colours</h1>
        <nav>
            <a href="index.html">Home</a>
            <a href="instructions.html">Instructions</a>
            <a href="https://en.wikipedia.org/wiki/Costly_Colours">History</a>
        </nav>
    </header>
    <main>
        <p> 
            "A fascinating relative to cribbage, with more complexity of combinations"
        </p>
        <section>
            <h2>Gameplay</h2>
            <div id="start"> 
                <form id="start" method="POST">
                    <button name='start' type="submit" value="TRUE">Start Game</button>
                </form>
                <h3> {{ c_title }} </h3>
            </div> 

            <div id="pre_peg">
                {% for message in messages %}
                    <p> {{ message }}</p>
                {% endfor %}
            </div>
            <p>-----------------------------------------------------------</p>

            {% if start == "TRUE" or game.phase == "MOG?"%}
            <div id="mogg">
            <form method="POST">
                <label>Would you like to "Mogg" (trade a card with Mr. Crib)?:</label>
                <label><input type="radio" name="mogg" value="Y" /> Yes</label>
                <label><input type="radio" name="mogg" value="N" /> No</label>
                <button>Submit</button>
            </form><br>
            </div>
            {% else %}
            {% endif %}

            <div id="totals_messages">

            </div>

            <div id="hands">

            </div>

            {% if  game.phase != "NOT" or game.phase == "DEAL" or game.phase == "MOG?" %}
            <div id="card_choice">
                <form method="POST">
                    <button name="card" value="1">Play Card 1</button>
                    <button name="card" value="2">Play Card 2</button>
                    <button name="card" value="3">Play Card 3</button>
                    <button name="card" value="0">GO!</button>
                </form>
            </div>
            {% else %}
            {% endif %}
        </section>

        <section>
            <h2>Statistics</h2>
        </section>
    </main>
    <footer>
        <p>Made by Shenard Williams, Duke University (Pratt 2029), 2026</p>
    </footer>
  </body>
</html>