<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="style.css"> -->
    <title>Costly Colours</title>
  </head>
  <body>
    <div style="position: relative; width: 100%; height: 0; padding-top: 105.2632%;
 padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden;
 border-radius: 8px; will-change: transform;">
  <iframe loading="lazy" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
    src="https://www.canva.com/design/DAHREm_EuKA/JI4-ZlbWa3nPBNlnmmVfHA/view?embed" allowfullscreen="allowfullscreen" allow="fullscreen">
  </iframe>
</div>
    <header>
        <h1>Costly Colours</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/instructions">Instructions</a>
            <a href="https://en.wikipedia.org/wiki/Costly_Colours">History</a>
        </nav>
    </header>
    <main>
        <p> 
            "A fascinating relative to cribbage, with more complexity of combinations"
        </p>
        <section>
            <h2>Gameplay</h2>
            {% if game.phase == "NOT" %}
            <div id="start"> 
                <form id="start" method="POST">
                    <button name='start' type="submit" value="TRUE">Start Game</button>
                </form>
            {% elif game.phase != "NOT" %}
            <div>
                <form id="quit" method="POST">
                    <button name="reset" type="submit" value="TRUE">Quit</button>
                </form>
            </div>
            {% endif %}
                <h3> {{ c_title }} </h3>
            {% if game.phase != "NOT" %}
                <aside>
                    <p><bold>--- Total Scores ---</bold></p>
                    <p> Mr. Crib: {{game.computer_score}}</p>
                    <p> Your Total: {{game.player_score}}</p>
                </aside>
            {% endif %}
            </div> 
            

            <div id="pre_peg">
                {% for message in messages %}
                    <p> {{ message }}</p>
                {% endfor %}
            </div>
            <p>-----------------------------------------------------------</p>

            {% if start == "TRUE" or game.phase == "MOG?" %}
            <div id="mogg">
            <form method="POST">
                <label>Would you like to "Mogg" (trade a card with Mr. Crib)?:</label>
                <label><input type="radio" name="mogg" value="Y" /> Yes</label>
                <label><input type="radio" name="mogg" value="N" /> No</label>
                <button>Submit</button>
            </form><br>
            </div>
            {% else %}
            {% endif %}

            <div id="totals_messages">

            </div>

            <div id="hands">
                {% for message in game.handages %}
                    <p> {{ message }}</p>
                {% endfor %}
            </div>

            {% if  game.phase == "MOGGING" or game.phase == "PLAYER_TURN" or game.phase == "PEG_START" %}
            <div id="card_choice">
                <form method="POST">
                    <button name="card" value="1">Play Card 1</button>
                    <button name="card" value="2">Play Card 2</button>
                    <button name="card" value="3">Play Card 3</button>
                    <button name="card" value="0">GO!</button>
                </form>
            </div> <br>
            {% else %}
            {% endif %}

            {% if game.phase == 'FINISH' %}
            <div>
                <form method="POST">
                    <button name="next" value="Y">Next Round</button>
                </form>
            </div>
            {% endif %}

            {% if game.phase == "GAME_OVER" %}
            <div>
                {% for message in game.wintags %}
                    <p> {{ message }}</p>
                {% endfor %}    
                <form method="POST">
                    <button name="reset" value="N">New Game</button>
                    <button name="reset" value="Q">Quit</button>
                </form>
            </div>
            {% endif %}
        </section>

        <section>
            <h2>Statistics</h2>
        </section>
    </main>
    <footer>
        <p>Made by Shenard Williams, Duke University (Pratt 2029), 2026</p>
    </footer>
  </body>
</html>