<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Costly Colours - Instructions</title>
  </head>
  <body>
    <header>
        <h1>Costly Colours</h1>
        <nav>
            <a href="/">Home</a>
        </nav>
    </header>
    <main>
        <h2>Instructions</h2>
        <section>
            <h3>Deal</h3>
            <p>
            At the start of a game you will be dealt a hand comprising of a symbol and 3 strings detailing what cards of a standard 52 card deck you have been dealt. The top card will also be displayed.<br><br>
            '#' = This symbol indicates that on this round you are the non-dealer. You will lay down the first card during pegging, and you will count all points available in your hand first during the hand-counting phase.<br><br>
            '*D' = This symbol indicates that you are the dealer during this round. If a Jack or Deuce (2) is the turn up card for the round you will automatically peg 4 for "His Heels" if a Jack or 4 for the Deuce.<br><br>
            </p>
        </section>

        <section>
            <h3>Mogging</h3>
            <p>
            Your first decision and source of input will be with the choice of mogging as described in the <strong>Description</strong> section:<br><br>
            <code>
            Would you like to "Mog" (trade a card with Mr. Crib). Type Y or N:
            </code><br><br>
            After this prompt you only need to type <code>Y</code> for yes, or <code>N</code> for no in the terminal. Following the decision, 3 outcomes can occur, either:
            <ol>
                <li>If you type <code>N</code>, Mr. Crib will recieve +1 point because you refuse to mog</li>
                <li>If yout type <code>Y</code> and Mr. Crib refuses, you recieve +1 point</li>
                <li>You both choose to mogg and a trade occurs</li>
            </ol>
            </p>
        </section>

        <section>
            <h3>Pegging</h3>
            <p>
                Once the mogging stage has been completed the pegging round can begin. Your hand will be re-displayed as strings in the terminal (with your new card if a mogging exchange occured) and you will be given a prompt for input. <br><br>
                <code>
                    Choose card # 1, 2, or 3: (If applicable type '0' for a Go):
                </code><br><br>

                To choose a card type the number appropriate for slot of the card. For example, if the 'Jack of Hearts' is the second card in your given hand, and you want to play it type <code>2</code>. Make sure you pay attention to the order of your cards if mogging occurs, your cards probably moved up a slot. After you play a card, the card is removed from your hand; thereby all cards behind this card are moved up in order (e.g. if you play the second card in your hand at the start of the hand, the #3 card will move up to the 2 slot on your next chance to play during pegging.) After you choose a card to lay down, your card and the culmulative total for the pegging play will be displayed:<br><br>
                <code>
                    Jack of Diamonds --> Total is: 13
                </code><br><br>
                If any points are gained via pairs, sums, or runs, they will be displayed as well. Then the turn will alternate to Mr. Crib; this back and forth will reoccur until someone pegs 31 or a 'Go' occurs. 

                If you cannot play a card without exceeding 31, you must type <code>0</code> for the go. Mr. Crib will continue to play a card if he without exceeding 31, wherein you will have to type <code>0</code> again. If Mr. Crib can also not play a card but you said 'Go' first Mr. Crib will peg +1 for the 'Go':<br><br>
                <code>
                    Go! ----->
                    Go! +1 for Mr. Crib 
                </code><br><br>
                This same pattern will occur in reverse, if Mr. Crib declares a go and you can play cards you will have the opportunity to do so. If you can play and which try to type 0 to save your cards you will see a Renege error:<br><br>
                <code>
                **Renege** - You can still play a card (Ace of Diamonds) with Total remaining under 31
                Choose the correct card 1 or 2: 
                </code><br><br>
                If you cannot play without goihg over 31 or have no cards in your hand, input 0 and you will recieve +1 for the Go from Mr. Crib. 
                If you input a number that is not one of the card slot positions available (e.g. you type 3, but only have 2 cards in your hand) you will recieve an error:
                <code><br><br>
                    **Out of Position** -- Choose the correct card position 
                </code>

            </p>
        </section>

        <section>
            <h3>Hand Counting</h3>
            <p>
                Once you and Mr. Crib do not have any more cards in your hands then the game moves on to Hand counting. During this phase the program will calculate all the possible point combinations you can recieve from summations (15, 25, & 31), pairs and prials, and colours. Each hand will be displayed--with the top card added--and combinations for points will be displayed with the non-dealer counting first followed by the dealer.<br><br>
                <code>
                Non-Dealer (Mr. Crib's) Hand Totals:
                ['2 of Hearts', '4 of Clubs', '7 of Clubs', '4 of Diamonds']
                Jack or Duece in Hand: +2 

                Pair of 4s: +2 

                (4, 7, 4)
                Sum to 15: +3 

                Mr. Crib's Total is: 7
                </code><br><br>
                Totals for the round, delineated by pegging and hand scores are calculated and displayed after this hand counting, then grand totals for total points between Mr. Crib and the user are displayed after. One must score 61 points to win. (Currently you cannot win off of mogging, but you can win based upon pegging)
            </p>
        </section>
        
         
    </main>
    