* {
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  table {
  width: 100%;
  border-collapse: collapse; /* Merges double borders into clean lines */
  }

  th, td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;}
}